<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <%= link_to "Charlie's Snack Bar", root_path, class: 'navbar-brand' %>
    
      
      <%= link_to 'Profiles', Profile, class: 'navbar-brand glyphicon glyphicon-user' %>
      <%= link_to 'Order-History', order_histories_path, class: 'navbar-brand glyphicon glyphicon-time' %>
      <% if user_signed_in? %>
      <%= link_to "(#{current_order.order_items.size}) ", cart_path, class: "navbar-brand glyphicon glyphicon-shopping-cart" %>
      <%= link_to ''+ current_user.email , destroy_user_session_path,class:'navbar-brand glyphicon glyphicon-off',:method => :delete %>
      <%else%>
      
      <%end%>
      
</nav>
</body>
</html>