<!DOCTYPE html>
<html>
  <meta name="detectify-verification"content="9702328a8abd87d7f22373384cab77d5" />
<head>
  <meta name="5adc5091949e5a61051bb6e36380fa8bba48a386" content="76716b495602f2d1e62dde89f2a92fac43740f05" />
  <title>ShoppingCartExample</title>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <% if request.ssl? %>
    <%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css' %>
    <%= javascript_include_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js' %>
  <% else %>
    <%= stylesheet_link_tag 'http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css' %>
    <%= javascript_include_tag 'http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js' %>
  <% end %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <%= link_to "Home", root_path, class: 'navbar-brand' %>
      <%= link_to 'Order History', order_histories_path, class: 'navbar-brand glyphicon glyphicon-time' %>
     <meta name="apptrana" content="8084f1ba83e841ed87afea20cbc89950">
     <a href="https://seal.beyondsecurity.com/vulnerability-scanner-verification/glacial-shore-22719.herokuapp.com"><img src="https://seal.beyondsecurity.com/verification-images/glacial-shore-22719.herokuapp.com/vulnerability-scanner-2.gif" alt="Website Security Test" border="0"></a>
</nav>
  <%= csrf_meta_tags %>
 <meta name="detectify-verification"content="9702328a8abd87d7f22373384cab77d5" />
</head>
<body background='https://cdn.steemitimages.com/DQma9bjX9K2q6JYuMQRwfVWKWQYhGLsSEmwKH5NkBnZA3jq/9f9913628bd4ccb5d79b2fc51f45d5a6.jpg'>
  <meta name="detectify-verification"content="9702328a8abd87d7f22373384cab77d5" />
      <header>
      <%= render 'layouts/navigation' %>
    </header>
  <div class="container">
    <div class="row">
      <div class="col-xs-6">
        
      </div>
      <% if user_signed_in? %>
      <div class="col-xs-6 text-right">
        <h1 class="cart-text"><%= render 'layouts/cart_text' %></h1>
        <%end%>
      </div>
    </div>
    <hr>
    <%= yield %>
  </div>
<% if user_signed_in? %>
<div>Signed in as... <%= current_user.email %>
(<%= link_to 'Sign out', destroy_user_session_path, data: { confirm: 'You will lose items in the cart if you logout. Are you sure ?' }, :method => :delete =%>)
<% if current_user.admin?%>
<%= link_to 'New Product', new_product_path ,class:'btn '%>
<%end%>
</div>
<% else %>

<%= link_to 'Register', new_user_registration_path %> or
<%= link_to 'Sign in', new_user_session_path %>
<% end %>
<meta name="5adc5091949e5a61051bb6e36380fa8bba48a386" content="76716b495602f2d1e62dde89f2a92fac43740f05" />
<meta name="detectify-verification"content="9702328a8abd87d7f22373384cab77d5" />
<a href="https://seal.beyondsecurity.com/vulnerability-scanner-verification/glacial-shore-22719.herokuapp.com"><img src="https://seal.beyondsecurity.com/verification-images/glacial-shore-22719.herokuapp.com/vulnerability-scanner-2.gif" alt="Website Security Test" border="0"></a>
</body>
</html>